
body {
	font-family: Verdana;
	margin: 0 auto 2.4em;
}

header {
	background-color: lightgray;
}

header,
.info,
.suggestion {
	display: flex;
}

header,
.info {
	justify-content: space-around;
}


.logo {
	width: 3em;
	padding: 0 2em 0 0.4em;
}



.container {
	/*border: 0.4em solid;*/
	border-radius: 1em;
	box-shadow: 0 0 3px 2px #888, 0 0 3px 2px #888, 0 0 3px 2px #888;
	margin: 0.4em;
	height: 14em;
	width: 14em;
	margin: 0.7em auto;
}

h1,
h2,
h3,
.content,
form,
.error,
li {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: rgb(250, 38, 102);
}

.options {
	padding: 2em 0 1em;
}

.info-list,
.resource-list {
	list-style: none;
	margin-left: -2.3em;
}

.heading {
	background-color: #ac3;
	line-height: 6em;
}

table {
	margin: 0 auto;
}

td {
	padding: 0.1em 1.6em;
}

.dan {
	font-weight: 500;
}

.o-nas {
	max-width: 50em;
	margin: 0 auto;
}

#map {
	height: 25em;
	max-width: 50em;
	border: 2px solid;
	margin: 0 auto;
}

#kje-smo {
	padding: 1em;
}

.suggestion {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: lightgray;
	justify-content: space-between;
}


.patients {
	background-color: #ac3;/*lightgreen;*/
	box-shadow: 0 0 3px 2px darkgreen, 0 0 3px 2px darkgreen, 0 0 3px 2px darkgreen;
	color: darkgreen;
}

.resources {
  	background-color: lightblue;
  	box-shadow: 0 0 3px 2px darkblue, 0 0 3px 2px darkblue, 0 0 3px 2px darkblue;
  	color: darkblue;
}

.programmes {
	background-color:  #ffeb99;
	box-shadow: 0 0 3px 2px darkorange, 0 0 3px 2px darkorange, 0 0 3px 2px darkorange;
	color: darkorange;
}

.about {
	background-color: salmon;
	box-shadow: 0 0 3px 2px darkred, 0 0 3px 2px darkred, 0 0 3px 2px darkred;
	color: darkred;
}

.name {
	margin: 0.5em;
	max-width: 20em;
}

textarea {
	max-width: 90%;
}

.error {
	font-size: 0.8em;
	color: red;
	margin: 0;
}

.suggestion-text {
	line-height: 0;
	padding: 0 0.4em;
}

.author {
	font-size: 0.5em;
	padding: 1em 2em;
}

@media screen and (max-width: 1050px) {
	h1 {
		font-size: 1.5em;
	}

	.info {
		flex-wrap: wrap;
	}

	.container-holder {
		min-width: 45%;
	}

}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 1.2em;
	}

	.suggestion {
		display: block;
		text-align: center;
	}

	.suggestion-text {
		font-size: 0.8em;
	}


	.author {
		margin: 0;
		background-color: white;

	}
}
