<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Zdravstveni Zavod Jadranka Juretic</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="http://www.iconj.com/ico/j/j/jjyz2csgco.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="js/zzjj.js"></script>
</head>
<body>
	<div class="main" id="top">
		<header>
			<img class="logo" src="img/brain7.svg" alt="brain icon">
			<h1> ZDRAVSTVENI ZAVOD JADRANKA JURETIC</h1>
		</header>

		<h2> Dobrodosli </h2>
		<div class="info">
			<div class="container-holder">
				<section class="container patients">
				  <a href="#pacijent"><h3 class="options">Pacijent</h3></a>
				  <ul class="info-list">
				  	<li><a href="#delovni-cas">Delovni cas</a></li>
				  	<li><a href="#cakalna-doba">Cakalna doba</a></li>
				  	<li><a href="#narocanje">Narocanje</a></li>
				  	<li><a href="#spletno-narocanje">Spleteno narocanje</a></li>
				  </ul>
				</section>
			</div>
			<div class="container-holder">
				<section class="container resources">
				  <a href="#o-psihijatriji"><h3 class="options">O psihiatriji</h3></a>
				  <ul class="info-list">
				  	<li><a href="#clanki">Clanki</a></li>
				  	<li><a href="#videi">Videi</a></li>
				  	<li><a href="#knjige">Knjige</a></li>
				  	<li><a href="#filmi">Filmi</a></li>
				  </ul>
				</section>
			</div>
			<div class="container-holder">
				<section class="container programmes">
				  <a href="#dodatni-program"><h3 class="options">Dodatni programi</h3></a>
				  <ul class="info-list">
				  	<li><a href="#psihohigienski-trening">Psihohigienski trening</a></li>
				  	<li><a href="#hujsanje">Hujsanje</a></li>
				  	<li><a href="#samoplacniki">Samoplacniki</a></li>
				  </ul>
				</section>
			</div>
			<div class="container-holder">
				<section class="contain<li>er about">
				  <a href="#o-nas"><h3 class="options">O nas</h3></a>
				  <ul class="info-list">
				  	<li><a href="#kdo-smo">Kdo smo</a></li>
				  	<li><a href="#kontakt">Kontakt</a></li>
				  	<li><a href="#kje-smo">Kje smo</a></li>
				  	<li><a href="#kako-do-nas">Kako do nas</a></li>
				  	<li><a href="#dodaj-svoje">Povejte kaj</a></li>
				  </ul>
				</section>
			</div>
		</div>


		<!-- part 1 -->
		<article id="pacijent">
			<h2 class="heading patients"> Pacijent </h2>
			<div class="content">
				<section id="delovni-cas">
				  <h3>DELOVNI CAS</h3>
					<table>
					  <tr>
					    <th>Dan</th>
					    <th>Urnik Ambulante</th>
					    <th>Tel. narocanje</th>
					  </tr>
					  <tr>
					    <td class="dan">Ponedeljek</td>
					    <td>14:00 - 21:00</td>
					    <td>15:00 - 19:00</td>
					  </tr>
					  <tr>
					    <td class="dan">Torek</td>
					    <td>10:30 - 17:30</td>
					    <td>11:00 - 15:00</td>
					  </tr>
					  <tr>
					    <td class="dan">Sreda</td>
					    <td>8:00 - 14:30</td>
					    <td>9:00 - 13:00</td>
					  </tr>
					  <tr>
					    <td class="dan">Cetrtek</td>
					    <td>8:00 - 14:30</td>
					    <td>9:00 - 13:00</td>
					  </tr>
					  <tr>
					    <td class="dan">Petek</td>
					    <td>8:00 - 13:30</td>
					    <td>9:00 - 13:00</td>
					  </tr>
					</table>
				</section>
				<section id="cakalna-doba">
				  <h3>CAKALNA DOBA</h3>
				  <p>
				  	Čakalna doba za prvi pregled in začetek zdravljenja je po trijaži čakalna doba do 90 dni, pri čemer vsem tistim, ki nas prvič obiskujejo, datum pregleda določimo na podlagi predhodnega osebnega pogovora v prostorih naše ordinacije. Za nujne primere čakalne dobe ni.
				  </p>
				  <p>
				    Odgovorna oseba za vodenje čakalnega seznama je Jadranka Juretić, dr.med.spec.psih.
				  </p>
				  <p>
				    Prva obravnava in zastopnik pacientovih pravic<br>
						Pristojni osebi za sprejemanje in obravnavo prve zahteve kršitve pacientovih pravic sta Jadranka Juretić, dr.med.spec.psih. in Mirjana Furlan, dr.med.spec.psih. Zastopniki pacientovih pravic so dostopni na spletnih straneh Ministrstva za zdravje.
					</p>
					<a href="http://www.nijz.si/">
						<img src="http://www.isap.si/images/banners/banner_nacionalne_cakalne_dobe_193x102.gif" alt="nacionalne cakalne dobe ikona">
					</a>
					<p>To je pobrano iz tvoje strani, povej kaj rabis kje kako : )</p>
				</section>
				<section id="narocanje">
				  <h3>NAROCANJE</h3>
				  <p>
						Telefon: 059 933 060 <br>
						E-naročanje: pisarna.juretic@gmail.com<br>
						E-mail: zavod.juretic@gmail.com
					</p>
				</section>
				<section id="spletno-narocanje">
				  <h3>SPLETNO NAROCANJE</h3>
				  poglej si to:<br>
				  <img src="img/e-narocanje.png" alt="e-narocanje example page" class="narocanje-img">
				  <br>hoces met kaj takega?
				</section>
			</div>

		</article>
		<!-- part 2 -->
		<article id="o-psihijatriji">
			<h2 class="heading resources"> O psihijatriji</h2>
			<div class="content">
				<section id="clanki">
				  <h3>CLANKI</h3>
				  <ul>
				  	<li class="resource-list"><a href="">?</a></li>
				  </ul>
				</section>
				<section id="videji">
				  <h3>VIDEJI</h3>
				  <ul>
				  	<li class="resource-list"><a href="">?</a></li>
				  </ul>
				</section>
				<section id="knjige">
				  <h3>KNJIGE</h3>
				  <ul>
				  	<li class="resource-list"><a href="">?</a></li>
				  </ul>
				</section>
				<section id="filmi">
				  <h3>FILMI</h3>
				  <ul class="resource-list">
				  	<li><a href="http://www.imdb.com/title/tt1675434/">The intouchables</a></li>
				  </ul>
				</section>
			</div>
		</article>

		<!-- part 3 -->
		<article id="dodatni-program">
			<h2 class="heading programmes"> Dodatni programi </h2>
			<div class="content">
				<section id="psihohigienski-trening">
				  <h3>PSIHOHIGJENSKI TRENING</h3>
				  <p>higiena je pomebnja, psiha pa tudi</p>
				</section>
				<section id="hujsanje">
				  <h3>HUJSANJE</h3>
				  <p>planiramo</p>
				</section>
				<section id="samoplacniki">
				  <h3>SAMOPLACNIKI</h3>
				  <p>kar pridite</p>
				</section>
			</div>
		</article>

		<!-- part 4 -->
		<article id="o-nas">
			<h2 class="heading about">O NAS</h2>
			<div class="content">
				<section id="kdo-smo">
				  <h3>KDO SMO</h3>
				  <p>
				  	JJ!<br>
				  	<br>
				  	in njen team
				  	<br>
				  	<br>
				  	<strong>Pri nas govorimo:</strong><br>
				  	slovensko,<br>
				  	italjansko,<br>
				  	hrvasko,<br>
				  	in Wo werden sie beschwerden?

				  </p>
			  </section>
				<section id="kontakt">
				  <h3>KONTAKT</h3>
				  <p>
				  	TEL: 056699030<br>
				  	FAX: 056699031<br>
				  	<br>
						ZDRAVSTVENI ZAVOD JURETIĆ JADRANKA <br>
						PORTOROŽ - PORTOROSE <br>
				 		<br>
						PSIHIATRIČNA AMBULANTA IZOLA <br>
						AMBULATORIO PSICHIATRICO ISOLA <br>
						Prešernova cesta 53 <br>
						6310 Izola
				  </p>
			  </section>
			  <section id="kje-smo">
			  	<h3>KJE SMO</h3>
			  	<div id="map">
			  	</div>
			  </section>
			  <section id="kako-do-nas">
			  	<h3>KAKO DO NAS</h3>
			  	<p>
			  	  Izola Jagodje, dol po klancu kjer vas radar, parkirate pri Sparu, vhod pri sex shopu, v podhodu pri trgovini za zivali.
			  	</p>
				</section>
			</div>

			<!-- part 4 -->
			<section id="dodaj-svoje">
				<h2 class="heading">Dodajte svoje priporocilo</h2>
				{% if error %}
					<p class="error">Gotta write something</p>
				{% endif %}
				<form method="post" action="/">
					<input name="name" placeholder="Vpisite ime:" class="name">
					<br>
					<textarea name="suggestion" rows="5" cols="100" placeholder="Dodajte priporocilo"></textarea>
					<br>
					<input type="submit" name="submits">
				</form>
			</section>

		</article>


		<!-- end -->
	</div>
	<div class="top">
		<a href="#top">Na vrh</a>
	</div>
  <!--
      TODO 1: make whole box clickable
      TODO 2: draw icons
      TODO 4: that banner stays on while in certain sector.
  -->

	<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->
	<div class="suggestion">
		<p class="suggestion-text ">Danes priporocamo: {{suggestion}}</p>
		<p class="author">Izdelava strani: Kalindi - <a href="mailto:kalindi.fonda@gmail.com">Kontakt</a></p>
	</div>
</body>
</html>